.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spiner-loading {
	height: 35px;
	animation: spin 2s linear 0s infinite;
}

.loading-small {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spiner-loading-small {
	height: 25px;
	animation: spin 2s linear 0s infinite;
}
